# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Node logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# Coverage and test outputs
coverage/
.nyc_output/
lib-cov/
.grunt/

# Dependency directories
node_modules/
bower_components/
jspm_packages/
typings/

# Build artifacts
build/
dist/
*.tgz

# Optional files/folders
.npm/
.yarn-integrity
.eslintcache
.node_repl_history

# dotenv environment variables
.env

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# History extension
.history/

# Package lock files
yarn.lock
package-lock.json
